@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
    color: white;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(10, 10, 10); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #a3a3a3; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
@Layer components{
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
